In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import numba
# import ray
# %env MODIN_ENGINE=ray
# import modin.pandas as mpd

In [2]:
# ray.init()

2023-11-26 11:50:43,511	INFO worker.py:1673 -- Started a local Ray instance.

RayContext(dashboard_url='', python_version='3.11.5', ray_version='2.8.0', ray_commit='105355bd253d6538ed34d331f6a4bdf0e38ace3a', protocol_version=None)

(raylet) [2023-11-26 11:50:53,417 E 12247 12260] (raylet) file_system_monitor.cc:111: /tmp/ray/session_2023-11-26_11-50-41_363763_12097 is over 95% full, available space: 113524736; capacity: 3602239488. Object creation will fail if spilling is required.
(raylet) [2023-11-26 11:51:03,424 E 12247 12260] (raylet) file_system_monitor.cc:111: /tmp/ray/session_2023-11-26_11-50-41_363763_12097 is over 95% full, available space: 113508352; capacity: 3602239488. Object creation will fail if spilling is required.

In [2]:
train_df = pd.read_csv('train.csv', engine="pyarrow")

In [3]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24236806 entries, 0 to 24236805
Data columns (total 10 columns):
 #   Column     Dtype
---  ------     -----
 0   timestamp  int64
 1   Asset_ID   int64
 2   Count      float64
 3   Open       float64
 4   High       float64
 5   Low        float64
 6   Close      float64
 7   Volume     float64
 8   VWAP       float64
 9   Target     float64
dtypes: float64(8), int64(2)
memory usage: 1.8 GB

In [4]:
train_df.head(5)

,timestamp,Asset_ID,Count,Open,High,Low,Close,Volume,VWAP,Target
0,1514764860,2,40.0,2376.5800,2399.5000,2357.1400,2374.5900,19.233005,2373.116392,-0.004218
1,1514764860,0,5.0,8.5300,8.5300,8.5300,8.5300,78.380000,8.530000,-0.014399
2,1514764860,1,229.0,13835.1940,14013.8000,13666.1100,13850.1760,31.550062,13827.062093,-0.014643
3,1514764860,5,32.0,7.6596,7.6596,7.6567,7.6576,6626.713370,7.657713,-0.013922
4,1514764860,7,5.0,25.9200,25.9200,25.8740,25.8770,121.087310,25.891363,-0.008264

In [5]:
asset_details = pd.read_csv('asset_details.csv')

In [7]:
asset_details.head(), asset_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Asset_ID    14 non-null     int64
 1   Weight      14 non-null     float64
 2   Asset_Name  14 non-null     object
dtypes: float64(1), int64(1), object(1)
memory usage: 468.0+ bytes

(   Asset_ID    Weight        Asset_Name
 0         2  2.397895      Bitcoin Cash
 1         0  4.304065      Binance Coin
 2         1  6.779922           Bitcoin
 3         5  1.386294            EOS.IO
 4         7  2.079442  Ethereum Classic,
 None)

In [8]:
btc = train_df[train_df['Asset_ID'] == 1].set_index("timestamp")

In [9]:
btc_mini = btc.iloc[-200:]

In [12]:
import plotly.graph_objects as go

fig = go.Figure(data=[go.Candlestick(x=btc.index, open=btc['Open'],
                high=btc['High'], low=btc['Low'], close=btc['Close'])])
fig.show()

In [5]:
test_df = pd.read_csv('example_test.csv')

In [6]:
asset_details = pd.read_csv('asset_details.csv')

In [7]:
asset_details

    Asset_ID    Weight        Asset_Name
0          2  2.397895      Bitcoin Cash
1          0  4.304065      Binance Coin
2          1  6.779922           Bitcoin
3          5  1.386294            EOS.IO
4          7  2.079442  Ethereum Classic
5          6  5.894403          Ethereum
6          9  2.397895          Litecoin
7         11  1.609438            Monero
8         13  1.791759              TRON
9         12  2.079442           Stellar
10         3  4.406719           Cardano
11         8  1.098612              IOTA
12        10  1.098612             Maker
13         4  3.555348          Dogecoin

In [6]:
train_df

,timestamp,Asset_ID,Count,Open,High,Low,Close,Volume,VWAP,Target
0,1514764860,2,40.0,2376.580000,2399.500000,2357.140000,2374.590000,1.923301e+01,2373.116392,-0.004218
1,1514764860,0,5.0,8.530000,8.530000,8.530000,8.530000,7.838000e+01,8.530000,-0.014399
2,1514764860,1,229.0,13835.194000,14013.800000,13666.110000,13850.176000,3.155006e+01,13827.062093,-0.014643
3,1514764860,5,32.0,7.659600,7.659600,7.656700,7.657600,6.626713e+03,7.657713,-0.013922
4,1514764860,7,5.0,25.920000,25.920000,25.874000,25.877000,1.210873e+02,25.891363,-0.008264
...,...,...,...,...,...,...,...,...,...,...
24236801,1632182400,9,775.0,157.181571,157.250000,156.700000,156.943857,4.663725e+03,156.994319,NaN
24236802,1632182400,10,34.0,2437.065067,2438.000000,2430.226900,2432.907467,3.975460e+00,2434.818747,NaN
24236803,1632182400,13,380.0,0.091390,0.091527,0.091260,0.091349,2.193732e+06,0.091388,NaN
24236804,1632182400,12,177.0,0.282168,0.282438,0.281842,0.282051,1.828508e+05,0.282134,NaN
24236805,1632182400,11,48.0,232.695000,232.800000,232.240000,232.275000,1.035123e+02,232.569697,NaN

In [8]:
test_df

,timestamp,Asset_ID,Count,Open,High,Low,Close,Volume,VWAP,group_num,row_id
0,1623542400,3,1201.0,1.478556,1.486030,1.478000,1.483681,6.547996e+05,1.481439,0,0
1,1623542400,2,1020.0,580.306667,583.890000,579.910000,582.276667,1.227988e+03,581.697038,0,1
2,1623542400,0,626.0,343.789500,345.108000,343.640000,344.598000,1.718833e+03,344.441729,0,2
3,1623542400,1,2888.0,35554.289632,35652.464650,35502.670000,35602.004286,1.638115e+02,35583.469303,0,3
4,1623542400,4,433.0,0.312167,0.312600,0.311920,0.312208,5.855774e+05,0.312154,0,4
5,1623542400,5,359.0,4.832550,4.845900,4.822900,4.837583,4.714355e+04,4.836607,0,5
6,1623542400,7,541.0,55.223080,55.494000,55.182000,55.344680,6.625202e+03,55.298816,0,6
7,1623542400,6,2186.0,2371.194286,2379.200000,2369.670000,2374.380714,1.214129e+03,2374.335307,0,7
8,1623542400,8,35.0,1.003150,1.019800,0.987300,1.003300,7.061928e+03,1.002936,0,8
9,1623542400,9,560.0,161.933429,162.480000,161.730000,162.214714,1.485009e+03,162.231310,0,9
10,1623542400,10,61.0,2939.862750,2952.160000,2936.230000,2947.078025,9.584785e+00,2945.110614,0,10
11,1623542400,13,229.0,0.068132,0.068240,0.068038,0.068158,3.046438e+06,0.068158,0,11
12,1623542400,12,383.0,0.327973,0.329272,0.327650,0.328829,5.364911e+05,0.328582,0,12
13,1623542400,11,123.0,243.137500,243.810000,242.960000,243.532500,3.079589e+02,243.452697,0,13
14,1623542460,3,672.0,1.482410,1.483759,1.479200,1.482043,2.858286e+05,1.481495,1,14
15,1623542460,2,1251.0,581.800000,585.590000,580.380000,582.358333,1.405285e+03,583.451389,1,15
16,1623542460,0,458.0,344.353500,344.790000,343.620000,344.089500,1.217352e+03,344.188716,1,16
17,1623542460,1,2006.0,35596.771429,35621.000000,35533.380000,35555.397143,9.336366e+01,35584.861196,1,17
18,1623542460,4,573.0,0.312274,0.312400,0.311540,0.311847,9.396433e+05,0.311930,1,18
19,1623542460,5,644.0,4.834550,4.849500,4.818500,4.838300,8.678307e+04,4.837430,1,19
20,1623542460,7,530.0,55.320900,55.426600,55.149000,55.286400,6.929458e+03,55.265491,1,20
21,1623542460,6,1261.0,2373.970101,2375.350000,2369.370000,2371.790000,7.867385e+02,2372.809830,1,21
22,1623542460,8,98.0,1.003050,1.019600,0.984100,1.001550,4.771951e+04,1.001078,1,22
23,1623542460,9,381.0,162.141857,162.380000,161.800000,162.193000,1.344810e+03,162.121310,1,23
24,1623542460,10,35.0,2946.370567,2949.720000,2943.710000,2945.711900,2.794134e+00,2946.633163,1,24
25,1623542460,13,395.0,0.068144,0.068334,0.068040,0.068217,4.981365e+06,0.068201,1,25
26,1623542460,12,287.0,0.328656,0.329280,0.327780,0.328563,4.496390e+05,0.328548,1,26
27,1623542460,11,62.0,243.368000,243.500000,242.940000,243.330000,1.435053e+02,243.337398,1,27
28,1623542520,3,849.0,1.481493,1.482896,1.477801,1.479259,4.868546e+05,1.480640,2,28
29,1623542520,2,540.0,582.100000,582.670000,579.620000,580.540000,4.723730e+02,580.850017,2,29
30,1623542520,0,535.0,343.778000,344.060000,342.500000,343.009500,9.757970e+02,343.139652,2,30
31,1623542520,1,3531.0,35550.271250,35576.590000,35402.870000,35488.287500,2.205352e+02,35480.068897,2,31
32,1623542520,4,1667.0,0.311670,0.312000,0.310430,0.311006,3.416122e+06,0.311131,2,32
33,1623542520,5,380.0,4.833440,4.835700,4.814300,4.822080,4.128848e+04,4.824327,2,33
34,1623542520,7,825.0,55.225700,55.309600,54.910000,55.026050,1.231549e+04,55.095780,2,34
35,1623542520,6,1856.0,2370.880011,2371.950076,2363.000000,2365.590000,7.640805e+02,2367.128372,2,35
36,1623542520,8,53.0,1.000450,1.016400,0.981700,0.997500,1.216251e+04,0.998949,2,36
37,1623542520,9,439.0,161.876143,162.030000,161.460000,161.829143,1.265969e+03,161.737656,2,37
38,1623542520,10,56.0,2939.582925,2941.808300,2930.030000,2933.232000,6.084640e+00,2937.153112,2,38
39,1623542520,13,338.0,0.068159,0.068170,0.067950,0.068025,2.790134e+06,0.068057,2,39
40,1623542520,12,264.0,0.328061,0.328370,0.326973,0.327497,7.424868e+05,0.327676,2,40
41,1623542520,11,49.0,242.745000,243.000000,242.230000,242.347500,5.420834e+01,242.451070,2,41
42,1623542580,3,1023.0,1.479075,1.479399,1.472600,1.473527,3.286849e+05,1.476372,3,42
43,1623542580,2,409.0,580.490000,580.690000,578.310000,578.912000,2.045210e+02,579.470144,3,43
44,1623542580,0,614.0,343.238000,343.406000,341.940000,342.325000,1.295199e+03,342.525876,3,44
45,1623542580,1,2901.0,35478.867162,35503.460134,35381.010000,35423.490000,1.188025e+02,35438.243466,3,45
46,1623542580,4,1094.0,0.310923,0.311400,0.310400,0.310676,2.403980e+06,0.310894,3,46
47,1623542580,5,465.0,4.819883,4.822100,4.808300,4.813450,3.476754e+04,4.815294,3,47
48,1623542580,7,347.0,54.997567,55.044200,54.916800,54.940950,2.735096e+03,54.974253,3,48
49,1623542580,6,2624.0,2365.769427,2367.500000,2359.010000,2360.505714,2.253663e+03,2362.394059,3,49
50,1623542580,8,169.0,0.996600,1.012900,0.975100,0.991000,6.251820e+04,0.992974,3,50
51,1623542580,9,431.0,161.862333,161.930000,161.270000,161.485000,1.156636e+03,161.595349,3,51
52,1623542580,10,34.0,2930.150250,2931.520000,2921.660000,2925.073700,1.187095e+00,2926.427322,3,52
53,1623542580,13,240.0,0.068015,0.068055,0.067866,0.067936,2.572088e+06,0.067958,3,53
54,1623542580,12,276.0,0.327267,0.327410,0.326130,0.326406,2.571778e+05,0.326834,3,54
55,1623542580,11,107.0,242.360000,242.550000,241.700000,242.074000,1.393091e+02,242.123168,3,55

In [ ]:
plt.plot()